# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Conda / Anaconda
# =========================
anaconda_projects/
.env/
.conda/

# =========================
# Databases & temp files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
